---
import Aside from "../components/Aside.astro";
import Layout from "../components/Layout.astro";
import Nav from "../components/Nav.astro";
import Search from "../components/Search.astro";
import CardProvedor from "../components/CardProvedor.astro";
import { provedores } from "../../db/provedores.json";
---

<Layout title="San Felipe | Provedores">
  <div class="container-fluid vh-100">
    <div class="row h-100">
      <div class="col-2 aside">
        <Aside />
      </div>
      <div class="col-10 main">
        <Nav />
        <div class="container">
          <h1 class="text-center py-4">Provedores</h1>
          <div class="row my-4">
            <div class="col-4">
              <Search placeholder="Buscar Provedor" />
            </div>
            <div class="col-8 d-flex h-100 justify-content-end">
              <a href="/bodega_nuevo" class="btn boton">Agregar Nuevo +</a>
            </div>
            <div class="row w-75 mx-auto mt-4 justify-content-center gap-3">
              {
                provedores.map((provedor) => (
                  <CardProvedor
                    ciudad={provedor.ciudad}
                    imagen={provedor.imagen}
                    nombre={provedor.nombre}
                    telefono={provedor.telefono}
                    contacto={provedor.contacto}
                  />
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    <style>
      .aside {
        background-color: #232a2c;
      }
      .boton {
        background-color: #e94256;
        color: aliceblue;
        font-weight: 700;
      }
      .boton:hover {
        background-color: #e94255c0;
      }
    </style>
  </div>
</Layout>
