---
interface Props {
  nombre?: string;
  ciudad?: string;
  telefono?: string;
  imagen?: string;
  contacto?: string;
}
const { imagen, nombre, ciudad, contacto, telefono } = Astro.props;
---

<div class="card" style="width: 9rem;">
  <img src={imagen} class="card-img-top" alt={nombre} />

  <div class="card-body">
    <small class="card-text text-dark fw-bold d-block">{nombre}</small>
    <small class="card-text text-dark">{ciudad}</small>
    <small class="card-text text-dark">{telefono}</small>
    <small class="card-text text-dark">{contacto}</small>
  </div>
  <div class="d-flex justify-content-between mb-2">
    <div class="d-flex gap-2">
      <i class="bi bi-whatsapp" style="color: green;"></i>
      <i class="bi bi-telephone-fill" style="color:purple;"></i>
    </div>
    <div class="dropend">
      <button
        class="btn btn-sm btn-outline-secondary fw-bold"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        ....
      </button>
      <ul class="dropdown-menu bg-dark">
        <li class="li_enlace">
          <a href="" class="ps-1 text-white w-100">
            <i
              class="bi bi-archive-fill pe-2"
              style="font-size: 1rem; color: #d20962;"></i>
            Eliminar
          </a>
        </li>
        <li class="li_enlace">
          <a href="/editar_provedor" class="ps-1 text-white w-100">
            <i
              class="bi bi-pencil-square w-100 pe-2"
              style="font-size: 1rem; color: #00bce4;"></i>
            Editar
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<style>
  a {
    text-decoration: none;
  }
  .li_enlace:hover {
    background-color: #263135;
  }
</style>
